<%- include("partials/_header") %>


<h3 style="text-align: center;"><a href="municipios/register"  > Registra Datos</a> 
<div class="container mt-5">
  <div class="row">
    <div  style="width: 10%;">

      <% if (data.length > 0) { %>
      <table  style="margin: auto; background-color: white; border: solid 1px black; padding: 10px; ">
        
        <thead style="border: solid 1px black; padding: 20px; text-align: center; background-color: lightcyan;">
          <tr>
            <td>idMunicipio</td>
            <td>nombre_municipio</td>
            <td>nombre_depto</td>
            <td>fecha_fundacion</td>
            <td>colores_bandera</td>
            <td>nombre_himno_oficial</td>
            <td>idPersona_gobernante</td>
          </tr>
        </thead>
        <tbody style="padding: 20px; text-align: center;">

           <% for(var i = 0; i < data.length; i++) {%>
          <tr style="border: solid 1px lightgrey;">
            <td style="border: solid 1px lightgrey;"><%= data[i].idMunicipio %></td>
            <td style="border: solid 1px lightgrey;"><%= data[i].nombre_municipio %></td>
            <td style="border: solid 1px lightgrey;"><%= data[i].nombre_depto %></td>
            <td style="border: solid 1px lightgrey;"><%= data[i].fecha_fundacion.toISOString().split('T')[0] %></td>
            <td style="border: solid 1px lightgrey;"><%= data[i].colores_bandera %></td>
            <td style="border: solid 1px lightgrey;"><%= data[i].nombre_himno_oficial %></td>
            <td style="border: solid 1px lightgrey;"><%= data[i].idPersona_gobernante %></td>
            <td style="border: solid 1px lightgrey;">
              <a href="/municipios/edit/<%= data[i].idMunicipio %>" class="btn btn-info">
                Edit
              </a>
              <a href="/municipios/delete/<%= data[i].idMunicipio %>" class="btn btn-danger">
          data
              </a>
            </td>
          </tr>
          <% } %> 
        </tbody>
      </table>
      <% } %>
    </div>


<%- include("partials/_footer") %>
