<%- include('partials/_header') %>

<div class = "container">
    <div class = "row mt-5">
        <div class = "col-md-7">
            <table class = "table table-bordered table-hover">
                <a href="/viviendas/formulario_registro">Registrar nueva vivienda</a>
                <thead>
                    <th>idVivienda</th>
                    <th>fecha_construccion</th>
                    <th>direccion_primaria</th>
                    <th>direccion_secundaria</th>
                    <th>num_pisos</th>
                    <th>num_habitaciones</th>
                    <th>num_banos</th>
                    <th>tiene_garage</th>
                    <th>tiene_patio</th>
                    <th>tiene_terraza</th>
                    <th>municipio_idMunicipio</th>
                </thead>
                <tbody>
                    <%if (data) {%>
                        <%for(var i = 0; i < data.length; i++) {%>
                        <tr>
                            <td><%= data[i].idVivienda%></td>
                            <td><%= data[i].fecha_construccion.toISOString().split('T')[0]%></td>
                            <td><%= data[i].direccion_primaria%></td>
                            <td><%= data[i].direccion_secundaria%></td>
                            <td><%= data[i].num_pisos%></td>
                            <td><%= data[i].num_habitaciones%></td>
                            <td><%= data[i].num_banos%></td>
                            <td><%= data[i].tiene_garage%></td>
                            <td><%= data[i].tiene_patio%></td>
                            <td><%= data[i].tiene_terraza%></td>
                            <td><%= data[i].municipio_idMunicipio%></td>
                            <td>
                                <a href = "/viviendas/delete/<%= data[i].idVivienda %>" class ="btn btn-danger">Eliminar</a>
                                <a href = "/viviendas/update/<%= data[i].idVivienda %>" class ="btn btn-info">Modificar</a>
                            </td>
                        </tr>
                        <%}%>
                    <%}%>
                </tbody>
            </table>

        </div>
        
    </div>
</div>

<%- include('partials/_footer') %>